Repository Eacaw/GJ22-Development, pull requests merged in 2022-05, with the labels that each got.

#24 7 create large button prefab
  Assets/Prefabs/Trigger Prefabs/ButtonPrefab.prefab
  Assets/Prefabs/Trigger Prefabs/Materials/Button.mat
  Assets/Scripts/PrefabScripts.meta
  Assets/Scripts/PrefabScripts/Triggers.meta
  Assets/Scripts/PrefabScripts/Triggers/ButtonTrigger.cs
  Assets/Scripts/PrefabScripts/Triggers/ButtonTrigger.cs.meta
Labels: prefab

#26 5 create door prefab
  Assets/Models/Door.fbx
  Assets/Models/Door.fbx.meta
  Assets/Models/DoorFrame.fbx
  Assets/Models/DoorFrame.fbx.meta
  Assets/Models/DoorFrameNormal.png
  Assets/Models/DoorFrameNormal.png.meta
  Assets/Models/DoorNormalMap.png
  Assets/Models/DoorNormalMap.png.meta
  Assets/Models/Materials/DoorStone.mat
  Assets/Models/Materials/DoorStone.mat.meta
  Assets/Prefabs/EventPrefabs.meta
  Assets/Prefabs/EventPrefabs/DoorPrefab.prefab
  Assets/Prefabs/EventPrefabs/DoorPrefab.prefab.meta
  Assets/Prefabs/Trigger Prefabs/ButtonPrefab.prefab
  Assets/Prefabs/Trigger Prefabs/Materials/New Material.mat
  Assets/Prefabs/Trigger Prefabs/Materials/New Material.mat.meta
  Assets/Scenes/DevPlayground/DevPlayground.unity
  Assets/Scripts/Interfaces.meta
  Assets/Scripts/PrefabScripts/Events.meta
  Assets/Scripts/PrefabScripts/Events/DoorScript.cs
  Assets/Scripts/PrefabScripts/Events/DoorScript.cs.meta
  Assets/Scripts/PrefabScripts/Events/EventInterface.cs
  Assets/Scripts/PrefabScripts/Events/EventInterface.cs.meta
  Assets/Scripts/PrefabScripts/Triggers/ButtonTrigger.cs
  Assets/Scripts/PrefabScripts/Triggers/TriggerInterface.cs
  Assets/Scripts/PrefabScripts/Triggers/TriggerInterface.cs.meta
Labels: enhancement, prefab

#31 Add wall, torch and player light for aesthetic effect
  Assets/Models/BlockWall.fbx
  Assets/Models/BlockWall.fbx.meta
  Assets/Models/Materials/DoorStone.mat
  Assets/Models/StoneNormalMap.png
  Assets/Models/StoneNormalMap.png.meta
  Assets/Models/WallTorch.fbx
  Assets/Models/WallTorch.fbx.meta
  Assets/Prefabs/Aesthetic Prefabs.meta
  Assets/Prefabs/Aesthetic Prefabs/BlockWallPrefab.prefab
  Assets/Prefabs/Aesthetic Prefabs/BlockWallPrefab.prefab.meta
  Assets/Prefabs/Aesthetic Prefabs/WallTorchPrefab.prefab
  Assets/Prefabs/Aesthetic Prefabs/WallTorchPrefab.prefab.meta
  Assets/Prefabs/Trigger Prefabs/Materials/New Material.mat
  Assets/Scenes/DevPlayground/DevPlayground.unity
  ProjectSettings/QualitySettings.asset
Labels: enhancement, prefab

#46 37 update level end UI
  Assets/Prefabs/UI Prefabs/CompleteLevel.prefab
  Assets/Scenes/Levels/Level1.unity
  Assets/Scenes/Levels/Level2.unity
  Assets/Scenes/Levels/Level3.unity
  Assets/Scenes/Levels/Level4.unity
  Assets/Scenes/Levels/Level5.unity
  Assets/Scenes/Levels/Level6.unity
  Assets/Scenes/Levels/Level7.unity
  Assets/Scenes/Levels/Level8.unity
  Assets/Scripts/SceneNavigation/EndLevelMenu.cs
  ProjectSettings/EditorBuildSettings.asset
  readme.md
Labels: UI changes
